*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: darkgray;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    overflow-x: hidden;
}

/* css cabeçalho */

.cabecalho{
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

header span{
    vertical-align:sub;
    margin-right: 3px;
}

nav li{
    display: block;
    margin-right: 20px;
    font-size: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
}


nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.a{
    position: absolute;
    top: 15vh;
    left: 0;
    width: auto;
    height: auto;
    background-color: #000;
    color: whitesmoke;
    transition: 200ms;
    cursor: pointer;
    left: 0;
}

.a ul li span{
    vertical-align:super;
}

.aa{
    left: -200vw;
    transform:all .3s linear;
}

/* css principal */

main{
    margin: 7rem 0px 0px 0px;
}

h1{
    padding: 1rem 8px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.75rem;
}

.jovem-escolhendo-sapato{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px; 
}

.img-jovem, .img-moca, .icon{
    border: 1px solid rgba(160,160,160,0.9);
    border-radius: 24px;
    opacity: 0.6;
}

.icon{
    border: none;
    border-radius: 1rem;
    width: 5rem;
}

.img-moca{
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 50px;
}

.img-jovem:hover, .img-moca:hover, .icon:hover{
    transform: scale(1.1);
    transition: 0.6s;
    opacity: 1.0;
    cursor: pointer; 
}

.texto-principal{
    margin: 4px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.b{
    width: 60vw;
    margin-bottom: 10rem;
}

/* css footer */

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.5rem;
}

footer{
    margin-top: 3rem;
    background-color: rgba(140,140,140,0.8);
    font-size: 2rem;
    text-align: center;
}

footer p{
    font-size: 2rem;
}

@media (min-width:300px) and (max-width:400px) {
    .cabecalho{
        position: absolute;
        top: 0;
        width: 100vw;
    }
    .a{
        height: auto;
        top: 28vh;
    }
    .ccc{
        display: none;
    }
}

@media (min-width:401px) and (max-width:437px) {
    .cabecalho{
        position: absolute;
        top: 0;
        width: 82vw;
    }
    .ccc{
        display: none;
    }
}
@media (min-width:438px) and (max-width:489px) {
    .cabecalho{
        position: absolute;
        top: 0;
        width: 80vw;
    }
    .ccc{
        display: none;
    }
}
@media (min-width:490px) and (max-width:599px) {

    /* body, .texto-principal{
        font-size: 1.75rem;
        padding: 1rem;
    }

    .cabecalho{
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        position: absolute;
        top: 0;
    }

    nav li{
        display: inline;
        margin-right: 20px;
    }

    nav a, .rodape{
        font-size: 1.2rem;
    }

    footer{
        font-size:1rem;
    } */

    .cabecalho{
        position: absolute;
        top: 0;
        width: 70vw;
    }
    .a{
        height: auto;
        top: 28vh;
    }
    .ccc{
        display: none;
    }
}

@media (min-width:600px) and (max-width:899px){
    /* body, .texto-principal{
        font-size: 2.25rem;
        padding:16px;
    }

    .cabecalho{
        padding: 16px;
    }

    nav li{
        display: inline;
        margin-right: 40px;
    } */

    .cabecalho{
        position: absolute;
        top: 0;
        width: 63vw;
    }
    .a{
        height: auto;
        top: 28vh;
    }
    /* .ccc{
        display: none;
    } */
}

@media(min-width:900px) and (max-width:1000px){
    /* body, .texto-principal{
        font-size: 2.25rem;
    }
    .ccc{
        display: static;
    } */

    .cabecalho{
        position: absolute;
        top: 0;
        width: 100vw;
    }
}

@media(min-width:1200px){

    /* Não será feita a confirguração
    é apenas para lebrar do valor  */
}

@media(min-width:1800px){

    /* Não será feita a confirguração
    é apenas para lebrar do valor  */
}

